body {
  background-color: gray;
}

.div-lista {
  margin: 0px 15% 0px;
  padding: 0px 0px 40% 0px;
  background-color: slategray;
}

.ul-lista {
  text-align: center;
  list-style-type: none;
  padding: 25px 200px;
  text-align: center;
}

.li-lista {
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
}

.a-lista-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: sienna;
  border: none;
  border-radius: 8px;
  color: black;
  text-align: center;
  /*padding: 50px 100px;*/
  width: 100%;
  height: 100px;
  font-size: 45px;
}